<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
</head>
<body>
    <h1>Items</h1>
    <ul>
        <% items.forEach(function(item) { %>
            <li><%= item.name %></li>
        <% }) %>
    </ul>
    <a href="/new">Add New Item</a>
</body>
</html>
